body {
    font-size: 16px;
}

img {
    width: 75px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1700px;
    }
}
