body {
    font-size: 16px;
}

img {
    width: 75px;
    margin-right: 5px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    line-height: 75px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 1360px;
}
